body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: black;
    width:100%;
    box-sizing: border-box;
}

header .logo {
    color: whitesmoke;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: 100;
}

header nav {
     float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: whitesmoke;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: whitesmoke;
    background: #333
}

.hamburger-toggle {
    color: whitesmoke;
    float: right;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px){
    header{
        padding: 0 20px;
    }

    .hamburger-toggle{
        display: block;
    }
    
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: .5s;
    }

    header nav.active{
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0,0,0,.2)
    }
}